<div class='container'>
        <div id='messages-box'>
            <ul class="messages">
                
            </ul>
        </div>
        <form id="message-form" class='form'>
            <div class='form-group'>
                <i id="icon-type"></i>
                <p class="typing"></p>
                <div class='message-input'>
                    <input autofocus type="text" id='messageBox' class='input' name='message' class="message">
                </div>
            </div>
            <div>
                <button class="button">Submit</button>
            </div>
        </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/query-string/7.0.1/index.min.js" integrity="sha512-hs6211OQsgsotrLyrc+5nIuc0Ht/6ioUpBRzTe+g1xFjYkAo5AYJKNQl6eD5WZt2Lv6HHEEg0aYYqTuFF34ALg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/message.js"></script>