
  <nav class="flex-column">
    <header>
      <h1 class="nes-container is-rounded is-centered is-dark">
        <a href="/" class="nes-btn is-pink">Spoti-Box</a>
      </h1>
    </header>
        <div class="nes-container is-rounded is-centered is-dark">
          <a type="button" class="nes-btn is-pink" href="/login">Log in with your Spotify Account</a>
        </div>
      <div>
        <a href="/" class="nes-btn is-pink">About</a>
      </div>
  </nav>
