    <form class="form" id='name-form'>
        <h2 id='title'>Create a username to enter the Chatroom!</h2>
        <div>
            <input type="text" name='username' id="username" placeholder="Enter Username" class='input' required/>
        </div>
        <div>
            <a type="submit" class="button" id='name-button' href='/chatroom'><strong>Join Chatroom</strong></a>
        </div>
    </form>
<script src="/javascript/username.js"></script>
