* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4ca2a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 2%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.a-tag {
    color: black;
    text-decoration: none;
    padding: 0 2vw;
}

.a-tag:hover {
    color: #385969;
}
